$accent-color: rgba(52, 84, 122, 1);
$bg-light: rgba(238, 239, 241, 1);
$bg-white: rgba(255, 255, 255, 1);
$text-gray: rgba(114, 114, 114, 1);
$text-black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$font-main: "Roboto", sans-serif;
